@import "tailwindcss";

@layer components {
    .btn {
        @apply bg-yellow-400 w-full p-3 text-xs xl:text-sm rounded hover:bg-yellow-500 mt-3
    }
}

/* Changing swiper color button to gray */
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: var(--color-background);
}

/* Amazon color theme */
@theme {
  --color-primary: #131921;
  --color-background: #EAEDED;
  --color-lightBlue: #232F3A;
  --color-yellow: #FEBD69;
}

body {
    overflow-x: hidden;
    background-color: var(--color-background);
  }
